/* PC */ 
@media (min-width: 64em) {
    #header .menu-mobile-btn {
        display: none;
    }
}

/* TABLET & MOBILE */
@media (max-width: 63.9375em) {
    .contact-form .form-control {
        padding: 15px;
    }    

    .btn {
        padding: 16px 16px;
    }

    #footer .social-list {
        font-size: 32px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copy-right{
        font-size: 24px;
        padding: 12px 0;
        display: inline-block;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-info {
        line-height: 2;
    }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .menu-mobile-btn {
        display: none;
    }    
}

/* MOBILE */
@media (max-width: 46.25em) {
    .s-full-width,
    .s-col-full
    {
        width: 100% !important;
    }   

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;        
    }

    #nav > li {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: black;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 48px;
    }     

    #nav > li:first-child {
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }    

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;       
    }
}