/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* 
1: Từ ngoài vào trong
2: Từ trên xuống dưới
3: Từ tổng quan đến chi tiết
*/

/* 
1: Vi tri
2: Kich thuoc
3: Mau sac
4: Kieu dang (kieu chu, hinh tron, vuong,...)
*/

/* COMMON */
.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.pull-right {
    float: right !important;
}

.btn {
    background-color: black;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-3 {
    width: 33.3333333%;
}

.col-2 {
    width: 50%;
}

.col-full {
    width: 100%;
}
/* Main */
#main {

}

/* CSS Heder */
#header {
    height: 46.4px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /* overflow: hidden; */
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav {
    display: inline-block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.4px;
    padding: 0 24px;
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;    
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;   
    padding: 0 12px;
    line-height: 38.4px;
}

.subnav li {
    width: 100%;
}
 
#nav .nav-arrow-down {
    font-size: 10px;
}

#header .menu-mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-btn, #header .menu-mobile-btn {
    float: right;
    padding: 0px 21px;    
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;    
}

#header .menu-mobile-btn:hover {
    background-color: #ccc;    
}

#header .menu-mobile-btn:hover .menu-icon {
    color: #000;    
}

#header .menu-icon,
#header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46.4px;
}
/* CSS Slider */
#slider {
    z-index: -1;
    position: relative;
    margin-top: 46.4px;
    padding-top: 50%;
    background: url('../img/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    width: 300px;
    text-shadow: 0 0 1px #000;
}


/* CSS Content */
#content {
    
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour Section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px; 
}

/* Places */

.places-list {   
    margin-top: 16px;
}

.place-img:hover {
    opacity: 0.6;
}

.place-img {
    width: 100%;    
    display: block;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;   
    line-height: 1.4;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);   
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);    
    animation: modalFadeIn ease 1s;
}

.modal-header {    
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.7;
}

.modal-close:hover {
    opacity: 1;
    background-color: #f44336;
}

.modal .ti-bag {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.model-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    cursor: pointer;
    padding: 18px;
    font-size: 15px;
    background: #009688;
    border: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
}

#buy-tickets:hover {
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    text-align: right;    
}

.modal-footer a {
    color: #2196F3;
}

/* CSS Contact */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a {
    color: #0000EE;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-info p i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;    
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
    margin-bottom: 15px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

#footer .social-list a:hover {
    opacity: 0.5;
}

#footer .copy-right, #footer .copy-right a {
    color: rgba(0, 0, 0, 0.7);
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
